body{
    font-family: Arial;
    background: linear-gradient(135deg,#ffe0f0,#e0f7ff);
    margin:0;
}

.detail-box{
    width: 400px;
    margin: 40px auto;
    background:white;
    padding:20px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    text-align:center;
}

.detail-box img{
    width:100%;
    border-radius:15px;
    height:250px;
    object-fit:cover;
}

h1{
    color:#e91e63;
    margin:10px 0;
}

.price{
    color:#d81b60;
    font-weight:bold;
    font-size:18px;
}

.status{
    color:#555;
}

.desc{
    margin:15px 0;
    font-size:14px;
    color:#666;
}

.buttons{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}

.back{
    text-decoration:none;
    padding:10px 12px;
    background:#9e9e9e;
    color:white;
    border-radius:10px;
}

.buy{
    padding:10px 12px;
    background:#e91e63;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

.buy:hover{
    background:#c2185b;
}