body{
    font-family: Arial;
    background: linear-gradient(135deg,#74ebd5,#9face6);
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    width: 350px;
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align:center;
}

h2{
    color:#2c3e50;
    margin-bottom:5px;
}

p{
    color:#777;
    margin-bottom:20px;
}

label{
    display:block;
    text-align:left;
    margin-top:10px;
    font-weight:bold;
    color:#444;
}

input{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:2px solid #ddd;
    border-radius:10px;
    outline:none;
}

input:focus{
    border-color:#3498db;
}

button{
    width:100%;
    margin-top:10px;
    padding:10px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
}

button[type="submit"]{
    background:#3498db;
    color:white;
}

button[type="submit"]:hover{
    background:#2980b9;
}

button[type="reset"]{
    background:#ee5e4e;
    color:white;
}

button[type="reset"]:hover{
    background:#ec306e;
}