body{
    font-family: Arial;
    background: linear-gradient(135deg,#ffd6e8,#d6f5ff);
}

.container{
    width: 600px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

h1{
    text-align:center;
    color:#8e24aa;
}

.form{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-bottom:20px;
}

input{
    padding:10px;
    border:2px solid #f48fb1;
    border-radius:10px;
}

button{
    padding:10px;
    background:#ec407a;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background:#d81b60;
}

.bill{
    padding:15px;
    border:2px dashed #ba68c8;
    border-radius:15px;
    background:#faf5ff;
}

.status{
    margin-top:10px;
    font-weight:bold;
}